<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/canario?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">1234</property>
    <mapping resource="Model/Topic.hbm.xml"/>
    <mapping resource="Model/Message.hbm.xml"/>
    <mapping resource="Model/Follower.hbm.xml"/>
    <mapping resource="Model/FollowerNotification.hbm.xml"/>
    <mapping resource="Model/MessageNotification.hbm.xml"/>
    <mapping resource="Model/Location.hbm.xml"/>
    <mapping resource="Model/Reference.hbm.xml"/>
    <mapping resource="Model/User.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
